.variants {
  padding: 10px 0 70px 0;
  background-color: rgba(181, 181, 181, 0.32)
}

.variants-item {
  padding: 50px 40px 20px 40px;
}

h1.back {
  z-index: 0;
  font-size: 6em;
  position: absolute;
  text-align: left;
  text-transform: uppercase;
  opacity: 15%;
}


